/*for header to replace the codes in other files*/

header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#search {
  background-color: #f7971e;
  width: 10%;
  padding: 1% 0 1% 0;
  float: left;
  color: #fff;
}

#call {
  background-color: #f7971e;
  width: 30%;
  padding: 1% 0 1% 0;
  float: left;
  color: white;
  text-indent: 25px;
}

.customerSendFileGetQuote {
  background-color: #f7971e;
  width: 20%;
  padding: 1% 0 1% 0;
  float: left;
  color: white;
}
.customerSendFileGetQuote a {
  text-decoration: none;
  color: white;
}
.wrapper {
  background: black;
}
.wrapper .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navBar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navBar ul {
  text-align: center;
}
#navBar li {
  display: inline-block;
  padding: 1% 5% 0 5%;
}
.bg {
  width: 80%;
  height: 75vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*slides show */

.slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
